<div class="container">
  <div class="username">
    <span class="label">
      Username:
    </span>
    <input type="text" name="username" class="inputs" id="username" />
  </div>
  <div class="password">
    <span class="label">
      Password:
    </span>
    <input type="password" name="password" class="inputs" id="password" appPassword />
  </div>
  <div class="password">
    <span class="label">
      Verify password:
    </span>
    <input type="password" name="password" class="inputs" id="password" />
  </div>
  <input type="checkbox" name="show-password" id="show-hide">
</div>
