<div class="container">
  <div class="username">
    <span class="label">
      Username:
    </span>
    <input type="text" name="username" class="inputs" id="username" />
  </div>
  <div class="password">
    <span class="label">
      Password:
    </span>
    <input type="password" name="password" class="inputs" id="password" />
  </div>
  <div class="checkbox-container" appPassword (click)="togglePassword()">
    <input type="checkbox" name="show-password" id="show-hide" />
    <label for="show-hide" class="checkbox-label">Show password</label>
  </div>
</div>
